
/*
   #1 - FONT STYLES
*/

h1 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 50px;

  color: rgb(0,90,50);
}

h2 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 7vh;
  color: rgb(0,90,50);
}


h3 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 5vh;
  color: rgb(0,90,50);
}


h4 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
  color: rgb(0,90,50);
}

h5 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 2.3vh;
  color: rgb(0,90,50);
  margin-top: 2%;
  margin-bottom: 0;
}




/*
    GRID STYLES
*/

html,
body {
  height: 100%;
}




/*
    TOP ROW - HEADING / HOME
*/
#logo {
  background-image: url('../img/logo_2018.png');
  background-repeat: no-repeat;
  background-position: center;
}

#logo:hover {
  cursor: pointer;
}







/*
  CAROUSEL INDICATORS
*/

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 100);
  border: 0.4px solid #000000;
}

.carousel-indicators .active {
  width: 20px;
  height: 5px;
  margin: 0;
  background-color: rgb(73, 73, 73);
}



/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7e9c0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 101, 60);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0,90,50);
}



/* * * * * * * * * * * * * * *
*                            *
*           PROFILE          *
*                            *
* * * * * * * * * * * * * * */

/* Scrolling */
.scrollable {
  overflow-y: scroll;
}

/* Student List */
#studentList {
  direction : rtl;
}

.portraitMini {
  position: center;
  width: 70%;
  border-radius: 50%;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}




.student-list-item {
  height: 15vh;
  background: #c7e9c0;
  border-bottom: thin solid green;
  border-right: thin solid green;
  cursor: pointer;
}

.student-list-item-active {
  background: #a1d99b;
  border-right: thin solid #a1d99b;
}



.sl-parent {
  display: table;
  width: 100%;
  height: 100%;

  border-left: 10px solid transparent;
}
.sl-child {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}




.parent {
  display: table;
  width: 100%;
  height: 100%;
  text-align: right;
}
.child {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

.row-heading {
  border-bottom: thin solid green;
}

.parent-dl {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.child-dl {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.dl-text {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 2vh;
  color: rgb(0,90,50);
  text-decoration: none;
}

.dl-text:hover {
   font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: lighter;
   font-size: 2.1vh;
   color: rgb(0, 79, 43);
   text-decoration: none;
 }

.dl-text:link {
  text-decoration: none;
}

.dl-text:visited {
  text-decoration: none;
}

.dl-text:hover {
  text-decoration: none;
}

.dl-text:active {
  text-decoration: none;
}

.b5sg {
  border: 5px solid #a1d99b;
}


/* * * * * * * * * * * * * * *
*                            *
*        CLOSE BUTTON        *
*                            *
* * * * * * * * * * * * * * */


#exitBox {
  height: 100%;
  background-image: url("../img/backbtn/back.jpg");
  -webkit-filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
}

#exitBox:hover {
  background-image: url("../img/backbtn/back.jpg");
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}


